@props([
  'title' => 'hello',
  'graffiti' 'hello',
  'image' => null
  'large' => false
])

{{ $graffitiSize = $large ? 'text-[600px] -top-[160px]' : 'text-[500px] top-0' }}

<section class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-10">
    <div class="rounded-[80px] shape-squircle bg-brand-blue text-white p-6 sm:p-8 lg:p-12 flex flex-col justify-center py-12 sm:py-16 lg:py-20 relative {{ $class }}">
        <h1 class="font-serif z-3 text-6xl lg:text-[200px] text-shadow-[10px_10px_0_hsla(220,29%,8%,0.15)] leading-none text-white font-bold text-center">{{ $title }}</h1>
        <div class="{{ $graffitiSize }} absolute z-2 -rotate-11 inset-0 hidden lg:flex items-center justify-center font-brush text-trim text-[#13ADD4] pointer-events-none">{{ $graffiti }}</div>
        <div class="relative z-10">{{ $slot }}</div>
        {{ glide:image width="1400" :height="$large ? 800 : 380" sharpen="10" }}
            <img src="{{ url }}" alt="{{ $title }}" class="z-3 absolute inset-0 object-cover w-full h-full mix-blend-overlay opacity-30 pointer-events-none">
        {{ /glide:image }}
        <img src="/img/halftones.webp" alt="" class="z-1 absolute inset-0 object-none w-full h-full mix-blend-soft-light opacity-50 pointer-events-none">
        <img src="/img/paper-folds.webp" alt="" class="z-2 absolute inset-0 object-none w-full h-full mix-blend-screen opacity-30 pointer-events-none">
    </div>
</section>
