<section class="max-w-8xl mx-auto px-10 py-8">
    {{ $contentBlockCount = 0 }}
    {{ page_builder }}

        {{ if type == "heading" }}
            <h1 class="font-serif text-[54px] leading-none text-center">{{ heading_text }}</h1>
        {{ /if }}

        {{ if type == "content_block" }}

            {{ $contentBlockCount = $contentBlockCount + 1 }}
            <div class="flex items-center gap-8 justify-between py-16 {{ $contentBlockCount % 2 == 0 ?= 'flex-row-reverse' }}">
                <div class="flex-1">
                    <div class="font-hand text-2xl mb-2">{{ $eyebrow_text }}</div>
                    <div class="text-[44px] leading-tight font-light font-serif prose">
                        {{ block_content }}
                    </div>
                </div>
                <div class="w-[340px] flex items-center pt-12">
                    <img src="{{ illustration:url }}" alt="{{ illustration:alt }}" />
                </div>
            </div>
        {{ /if }}

        {{ if type == "gallery" }}
            <div class="py-8">
                <image-gallery>
                    {{ gallery_images }}
                        <img src="{{ glide:url height="800" width="480" }}" alt="{{ alt }}" />
                    {{ /gallery_images }}
                </image-gallery>
            </div>
        {{ /if }}

        {{ if type == "section_break" }}
            <div class="py-8">
                <img src="{{ icon:url }}" alt="{{ icon:alt }}" class="h-14 mx-auto" />
            </div>
        {{ /if }}

    {{ /page_builder }}
</section>
