<section class="max-w-8xl mx-auto px-10 py-24">
    {{ page_builder }}

        {{ if type == "heading" }}
            <h1 class="font-serif text-[54px] leading-none text-center">{{ heading_text }}</h1>
        {{ /if }}

        {{ if type == "content_block" }}
            <div class="flex items-center nth-of-type-1:flex-row-reverse nth-of-type-3:flex-row-reverse nth-of-type-5:flex-row-reverse gap-8 justify-between py-24">
                <div class="flex-1">
                    <div class="font-hand text-2xl mb-2">{{ $eyebrow_text }}</div>
                    <div class="text-[44px] leading-tight font-light font-serif prose">
                        {{ block_content }}
                    </div>
                </div>
                <div class="w-[340px] flex items-center">
                    <img src="{{ illustration:url }}" alt="{{ illustration:alt }}" />
                </div>
            </div>
        {{ /if }}

        {{ if type == "gallery" }}
            <image-gallery :images='{{ gallery_images | json }}'></image-gallery>
        {{ /if }}

        {{ if type == "section_break" }}
            {{ icon:url }}
        {{ /if }}

    {{ /page_builder }}
</section>
