<x-hero
    :title="hero_title"
    :graffiti="graffiti"
    class="lg:h-[380px]"
    :image="hero_background:url"
>
</x-hero>

{{ partial:components/page-builder }}

<section class="max-w-4xl mx-auto flex gap-4 items-center justify-center px-4 py-6 text-center">
    <x-cta href="/what-we-believe">
        {{ glide src="assets/jack-and-stephen.jpg" width="250" height="140" }}
            <img src="{{ url }}" alt="" class="h-full rounded-sm">
        {{ /glide }}
        {{# <div class="text-left flex gap-2">
            {{ svg src="assets/icons/play-circle" class="size-4 text-stone-500" }}
            <div class="space-y-2">
                <div class="text-lg font-semibold text-trim">Watch a video about Gracelife</div>
                <p class="font-light text-trim">It's a whole 90 seconds long.</p>
            </div>
        </div> #}}
        <div class="text-left text-trim">
            <div class="text-2xl font-semibold">Watch a video</div>
            <p class="text-xl font-light leading-none">Get to know us in 90 seconds.</p>
        </div>
    </x-cta>
    <x-cta href="/what-we-believe">
        <img src="/assets/icons/bible.svg" alt="" class="h-14 ml-2">
        <div class="text-left text-trim">
            <div class="text-2xl font-semibold">What We Believe</div>
            <p class="text-xl font-light leading-none">In case you want to cut to the chase.</p>
        </div>
    </x-cta>
</section>

{{# <div class="pt-16">
    <img src="/assets/icons/rope.svg" alt="" class="h-4 mx-auto" />
</div> #}}

<section class="max-w-8xl mx-auto px-4 py-4 sm:py-6 py-16 lg:py-32 text-center">
    <h2 class="font-serif leading-none text-center text-2xl sm:text-3xl lg:text-[42px] font-light mb-4 flex items-center justify-center gap-5">
        {{ svg src="assets/icons/teacher.svg" }}
        <span>The Leadership</span>
        {{ svg src="assets/icons/hands-in.svg" }}
    </h2>
    <p class="font-light text-xl">Pastors, Elders, Deacons, and Staff — all pulling a rope for the same vision.</p>
    <div class="grid grid-cols-5 gap-3 max-w-5xl mx-auto py-16">
        {{ collection:leadership }}
            <button class="bg-white rounded-sm p-1.5 text-center shadow-sm cursor-pointer hover:shadow-md hover:translate-y-[-3px] hover:translate-x-[-1px] hover:-rotate-1 even:hover:rotate-1 duration-100 hover:shadow-[4px_4px_0_hsla(220,29%,8%,0.1)] transition-all">
                <img src="{{ glide:headshot width="300" height="300" }}" alt="{{ headshot:alt ?? title }}" class="w-full h-auto rounded-[1px]">
                <div class="py-1">
                    <h3 class="font-hand text-2xl leading-none">{{ title }}</h3>
                    <p class="font-light leading-none">{{ position }}</p>
                </div>
            </button>
        {{ /collection:leadership }}
    </div>
</section>

<section class="max-w-7xl mx-auto px-4 py-4 sm:py-6 py-16 lg:py-32 text-center">
    <h2 class="font-serif leading-none text-center text-2xl sm:text-3xl lg:text-[42px] font-light mb-4 flex items-center justify-center gap-5">
        {{ svg src="assets/icons/music-note-2.svg" class="" }}
        <span>The Worship</span>
        {{ svg src="assets/icons/music-note-1.svg" class="rotate-5" }}
    </h2>
    <p class="font-light text-xl text-balance">If you want to judge us based on our music — We have drums, keys, guitars, a cello, bass, and sometimes even a harmonica. But more important than the style of music — we're here to worship <strong>together</strong>, not to put on a performance.</p>
    <div class="flex items-end justify-around py-8 gap-3 w-full" x-data="{ playSound(src) { new Audio(src).play(); } }">
        <button class="cursor-pointer group text-center flex flex-col items-center space-y-6" x-on:click="playSound('/assets/sounds/drums.mp3')">
            <img src="/assets/illustrations/drums.svg" alt="" class="h-36 group-hover:scale-110">
            <p class="font-hand text-lg leading-none">makes loud sounds</p>
        </button>
        <button class="cursor-pointer group text-center flex flex-col items-center space-y-6" x-on:click="playSound('/assets/sounds/keyboard.mp3')">
        <img src="/assets/illustrations/keyboard.svg" alt="" class="h-30 group-hover:scale-110">
            <p class="font-hand text-lg leading-none">makes lots of sounds</p>
        </button>
        <button class="cursor-pointer group text-center flex flex-col items-center space-y-6" x-on:click="playSound('/assets/sounds/guitar.mp3')">
            <img src="/assets/illustrations/guitar.svg" alt="" class="h-36 group-hover:scale-110">
            <p class="font-hand text-lg leading-none">goes to 11</p>
        </button>
        <button class="cursor-pointer group text-center flex flex-col items-center space-y-6" x-on:click="playSound('/assets/sounds/cello.mp3')">
            <img src="/assets/illustrations/cello.svg" alt="" class="h-50 group-hover:scale-110">
            <p class="font-hand text-lg leading-none">makes emotional sounds</p>
        </button>
        <button class="cursor-pointer group text-center flex flex-col items-center space-y-6" x-on:click="playSound('/assets/sounds/bass.mp3')">
            <img src="/assets/illustrations/bass.svg" alt="" class="h-42 group-hover:scale-110">
            <p class="font-hand text-lg leading-none">is deeeeeeep</p>
        </button>
        <button class="cursor-pointer group text-center flex flex-col items-center space-y-6" x-on:click="playSound('/assets/sounds/harmonica.mp3')">
            <img src="/assets/illustrations/harmonica.svg" alt="" class="h-12 group-hover:scale-110">
            <p class="font-hand text-lg leading-none">full of spit</p>
        </button>
    </div>
</section>

<section class="max-w-7xl mx-auto px-4 py-4 sm:py-6 py-16 lg:py-32 text-center">
    <h2 class="font-serif leading-none text-center text-2xl sm:text-3xl lg:text-[42px] font-light mb-4 flex items-center justify-center gap-5">
        {{ svg src="assets/icons/rocking-horse.svg" }}
        <span>Kids Ministry</span>
        {{ svg src="assets/icons/slide.svg" }}
    </h2>
    <p class="font-light text-xl text-balance">During our Sunday morning service, we have a nursery for the littles and Sunday School classes for the bigs — <strong>up thru 5th grade</strong>. We love our kids. For all the older kids, they can (and do) enjoy the main service. Our teaching is great for all ages.</p>
    <image-gallery orientation="horizontal">
        <img src="{{ glide src="/assets/playground-slide.jpg" width="800" height="480" /}}" alt="Playground Slide" />
        <img src="{{ glide src="/assets/kids-room.jpg" width="800" height="480" /}}" alt="Kids Room" />
        <img src="{{ glide src="/assets/kids-circle.jpg" width="800" height="480" /}}" alt="Kids Circle" />
    </image-gallery>
</section>

<section class="max-w-7xl mx-auto px-4 py-4 sm:py-6 py-16 lg:py-32 text-center">
        <h2 class="font-serif leading-none text-center text-2xl sm:text-3xl lg:text-[42px] font-light mb-4 flex items-center justify-center gap-5">
        {{ svg src="assets/icons/hands-grasp.svg" }}
        <span>Small Groups</span>
        {{ svg src="assets/icons/group-read.svg" }}
    </h2>
    <p class="font-light text-xl text-balance">We call 'em "Care Groups" because they're the primary way we care for each other as a church. <strong>Christianity is a team sport</strong> — we're not meant to do this alone. We have groups that meet in homes all over the Ormond Beach area, from beachside to west of I-95.</p>
    <image-gallery orientation="horizontal">
        {{ glide src="/assets/care-group-1.jpg" width="800" height="480" }}<img src="{{ url }}" alt="{{ alt }}" />{{ /glide }}
        {{ glide src="/assets/care-group-3.jpg" width="800" height="480" }}<img src="{{ url }}" alt="{{ alt }}" />{{ /glide }}
        {{ glide src="/assets/care-group-4.jpg" width="800" height="480" }}<img src="{{ url }}" alt="{{ alt }}" />{{ /glide }}
        {{ glide src="/assets/care-group-5.jpg" width="800" height="480" }}<img src="{{ url }}" alt="{{ alt }}" />{{ /glide }}
    </image-gallery>
</section>

<section class="max-w-7xl mx-auto px-4 py-4 sm:py-6 py-16 lg:py-32 text-center">
        <h2 class="font-serif leading-none text-center text-2xl sm:text-3xl lg:text-[42px] font-light mb-4 flex items-center justify-center gap-5">
        {{ svg src="assets/icons/hand-world.svg" }}
        <span>Missions</span>
        {{ svg src="assets/icons/trip-pins.svg" }}
    </h2>
    <p class="font-light text-xl text-balance">We have to primary mission fields. First, to the local community through our counseling ministry, <a href="/the-harbor" class="font-semibold underline hover:text-coral">The Harbor</a> and secondly to the people of <strong>Marabella, Costa Rica</strong> through on-the-ground work & years of building relationships.</p>
    <img src="/assets/mission-marbella.jpg" alt="Marabella, Costa Rica" class="h-128 mx-auto rounded-xl mt-8">
</section>
