<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="https://use.typekit.net/sxd6wkg.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.6/dist/cdn.min.js"></script>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="antialiased font-serif">
        <header class="max-w-8xl mx-auto px-10 h-28 flex items-center justify-between font-sans">
            <a href="/">
                <img src="/assets/gracelife-beachside-logo.png" alt="Gracelife Beachside Logo" width="200" />
            </a>
            <nav>
                <ul class="flex items-center gap-12 uppercase text-xl">
                    {{ nav:collection:pages slug:not="give" }}
                        <li>
                            <a href="{{ url }}" class="hover:text-coral transition-colors {{ is_current ?= 'text-coral border-b-3 border-coral' }}">{{ title }}</a>
                        </li>
                    {{ /nav:collection:pages }}
                </ul>
            </nav>
            <div class="flex items-center justify-end gap-6">
                <p class="font-hand text-2xl">Sundays @ 10am</p>
                <x-button>Give</x-button>
            </div>
        </header>
        <div id="app">
            {{ template_content }}
        </div>
        <footer class="pt-16">
            <div class="h-1 bg-black rough w-full"></div>
            <div class="max-w-8xl mx-auto px-10 h-28 flex items-center justify-between text-2xl">
                <div>
                    <p>&copy; Copyright {{ now | format('Y') }} Gracelife Beachside Church</p>
                    <p class="font-semibold">Sundays @ 10am</p>
                </div>
                <div class="text-right">
                    <div><a href="">6 Sandra Dr. Ormond Beach, FL 32176</a></div>
                    <div><a href="tel:3864412133" class="font-semibold">(386) 441-2133</a></div>
                </div>
            </div>
        </footer>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" width="0"><defs><filter id="rough"><feTurbulence type="fractalNoise" baseFrequency=".05" numOctaves="4"/><feDisplacementMap in="SourceGraphic" scale="4" /></filter></defs></svg>
    </body>
</html>
