<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="https://use.typekit.net/sxd6wkg.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.6/dist/cdn.min.js"></script>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="antialiased">
        <header class="max-w-8xl mx-auto px-10 h-28 flex items-center justify-between">
            <a href="/">
                <img src="/assets/gracelife-beachside-logo.png" alt="Gracelife Beachside Logo" width="200" />
            </a>
            <nav>
                <ul class="flex items-center gap-12 uppercase text-xl">
                    {{ nav:collection:pages slug:not="give" }}
                        <li>
                            <a href="{{ url }}" class="hover:text-coral transition-colors {{ is_current ?= 'text-coral border-b-3 border-coral' }}">{{ title }}</a>
                        </li>
                    {{ /nav:collection:pages }}
                </ul>
            </nav>
            <x-button>Give</x-button>
        </header>
        <div id="app">
            {{ template_content }}
        </div>
    </body>
</html>
