<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="https://use.typekit.net/sxd6wkg.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-parchment antialiased">
        <header class="max-w-7xl mx-auto px-6 h-28 flex items-center justify-between">
            <a href="/">
                <img src="/assets/gracelife-beachside-logo.png" alt="Gracelife Beachside Logo" width="200" />
            </a>
            <nav>
                <ul class="flex items-center gap-12 uppercase text-xl">
                    {{ nav:collection:pages slug:not="give" }}
                        <li><a href="{{ url }}">{{ title }}</a></li>
                    {{ /nav:collection:pages }}
                </ul>
            </nav>
            <x-button>Give</x-button>
        </header>

        <x-hero
            :title="hero_title"
            :graffiti="graffiti"
            class="h-[800px]"
            :image="hero_background:url"
        >
            {{ if hero_subtitle }}
            <p class="font-serif text-[26px] font-medium text-center py-4">{{ $hero_subtitle }}</p>
            {{ /if }}
        </x-hero>
        {{ template_content }}
    </body>
</html>
