<x-hero
    :title="hero_title"
    :graffiti="graffiti"
    class="lg:h-[380px]"
    :image="hero_background:url"
>
</x-hero>

{{ partial:components/page-builder }}

<div class="max-w-6xl mx-auto p-4 shadow-lg rounded-lg bg-white">
    <script id="subsplash-embed-9nxq6rb" type="text/javascript">var target = document.getElementById("subsplash-embed-9nxq6rb");var script = document.createElement("script");script.type = "text/javascript";script.onload = function() {subsplashEmbed("+79d7/lb/li/+9nxq6rb?embed&branding&1771799412133","https://subsplash.com/","subsplash-embed-9nxq6rb");};script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);</script>
</div>
