@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";
@source "../js/components";

@font-face {
  font-family: 'gojira';
  src: url('../fonts/gojira-black.woff2') format('woff2'),
       url('../fonts/gojira-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'stratos', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: 'new-spirit-condensed',ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-hand: 'caveat', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-brush: 'gojira', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-parchment: oklch(98.5% 0.008 95);
  --color-coral-dark: oklch(70% 0.12 35);
  --color-coral: oklch(73% 0.14 37);

  --color-brand-blue: oklch(57% 0.15 220);

  --container-8xl: 88rem;
  --container-9xl: 96rem;
}

body {
    background-image: url('/resources/img/parchment.webp');
}

strong {
    @apply font-semibold;
}

@utility shape-squircle {
    corner-shape: squircle;
}

@utility text-trim {
    text-box: trim-both cap alphabetic;
}

@utility rough {
    filter: url(#rough);
}
